binder.example.com {
  encode gzip
  
  # Main App
  reverse_proxy binder:4173

  log {
    output file /var/log/caddy/binder_access.log
    format json
  }
  tls admin@binder.example.com
}

binder.example.com:8080 {
  encode gzip
  reverse_proxy sidecar:8080
  tls admin@binder.example.com
}
